name: Lint
on: pull_request

jobs:
  php-linters:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
    name: php${{ matrix.php-versions }} lint
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up php${{ matrix.php-versions }}
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: none
    - name: Lint
      run: composer run lint
  summary:
    runs-on: ubuntu-latest
    needs:
      - php-linters
    if: always()
    name: lint-summary
    steps:
      - name: PHP linter status
        run: if ${{ needs.php-linters.result != 'success' && needs.php-linters.result != 'skipped' }}; then exit 1; fi
